<nav class="footer p-4 navbar-dark navbar-custom text-white text-center">
    <div class="container merriweather">
        <p class="lead">Copyright &copy; 2022 Triggered</p>
        <a class="justify-content-md-end text-white" href="https://www.freepik.com/free-vector/open-air-cinema-empty-place_26796693.htm#query=watching%20movies&position=25&from_view=search&track=sph">Image by upklyak</a>
        <!-- <a class="position-absolute bottom-0 end-0 p-5 text-white">
            <button class="btn btn-outline-info" click="returnTop()" type="">
                Return to Top
            </button>    
        </a> -->
    </div>
</nav>