.merriweather {
    font-family: "Merriweather", serif;
}

.text-custom {
    color: #3a2e39;
 }

 .bg-custom {
    background-color: #83c5be;
 }

.btn-custom {
    background-color: #fcbf49;
}

.bg-custom2 {
    background-color: #FFFBF2;
}

.red {
    color: #d62828;
}