.merriweather {
    font-family: "Merriweather", serif;
}

.text-custom {
    color: #3a2e39;
    /* color: #006d77; */
 }

 .bg-custom {
    /* background-color: #fcbf49; */
    background-color: #83c5be;
 }

.btn-custom {
    background-color: #fcbf49;
}