<section class="p-5 bg-light merriweather">
  <div class="container text-custom">
    <div class="row text-center">
      <div class="h2 mb-5">Tracking 20+ Trigger Categories</div>
    </div>
    <div class="row">
      <!-- First Card -->
      <div class="col-md">
        <div class="card-body bg-light">
          <div class="lead">
            <div class="p card-body">
              <ul>
                <li>Ending is sad</li>
                <li>Frightened animals</li>
                <li>Hate speech/slurs</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Second Card -->
      <div class="col-md">
        <div class="card-body bg-light">
          <div class="lead">
            <div class="p card-body">
              <ul>
                <li>Auditory triggers</li>
                <li>Childhood myth is spoiled</li>
                <li>Bodily fluids/functions</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Third Card -->
      <div class="col-md">
        <div class="card-body bg-light">
          <div class="lead">
            <div class="p card-body">
              <ul>
                <li>Jump Scare</li>
                <li>Physical Abuse</li>
                <li>Substance Abuse</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Button -->
    <div class="row">
      <div class="d-grid d-md-flex justify-content-md-end pt-3">
        <button
          type="button"
          class="btn btn-warning btn-custom text-custom"
          [routerLink]="['trigger-categories']"
        >
          See All Trigger Categories
        </button>
      </div>
    </div>
  </div>
</section>
