<section
  class="bg-light text-custom merriweather pt-5 text-center text-sm-start mt-5"
>
  <div class="container">
    <div class="row d-sm-flex align-items-center justify-content-between">
      <!-- <div class="row"> -->

        <div>
          <h1>
            Welcome to
            <span style="color: #d62828">Triggered</span>
          </h1>
          <h2 style="color: #00646d">
            where we all work together creating a safer way to watch movies
          </h2>
          <p class="lead my-4">
            Have you ever watched a movie and witnessed something triggering and
            thought:
            <span style="color: #fc9549"
              >“I wish I had been warned about this!!!”</span
            >
            Now you can find out triggers before being
            <span style="color: #d62828">Triggered</span>
          </p>
        </div>

       
        <img
          class="image-fluid d-none d-sm-block mb-3"
          src="../../assets/undrawHorrorMoviesOrange.svg"
          alt="girls watching scary movie"
        />
     

    </div>
  </div>
</section>
