<section
  class="bg-light text-custom merriweather pt-5 text-center text-md-start mt-5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center justify-content-between">

        <div class="col">
          <h1 class="">
            Welcome to
            <span style="color: #d62828">Triggered</span>
          </h1>
          <h2 class="mt-3" style="color: #00646d">
            where we all work together creating a safer way to watch movies
          </h2>
          <p class="lead my-4">
            Have you ever watched a movie and witnessed something triggering and
            thought:
            <span style="color: #fc9549"
              >“I wish I had been warned about this!!!”</span
            >
            Now you can find out triggers before being
            <span style="color: #d62828">Triggered</span>
          </p>
        </div>

       <div class="col-xs-0 col-md-12 col-lg-8 justify-content-between">
        <div class="row">
        <img
          class="image-fluid d-none d-md-block mb-3"
          src="../../assets/undrawHorrorMoviesOrange.svg"
          alt="girls watching scary movie"
        />
      </div>
    </div>
     

    </div>
  </div>
</section>
