<section class="bg-light text-custom merriweather ">
    <div class="container text-center text-sm-start">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Welcome to 
                    <span style="color: #D62828">Triggered</span>
                </h1>
                <h2 style="color: #005c65">where we all work together</h2>
                <h2 style="color: #005c65">creating a safer way to watch movies</h2>
                <p class="lead mt-4">Have you ever watched a movie and witnessed something triggering and thought:</p>
                <p class="lead mt-4" style="color: #fba905">“I wish I had been warned about this!!!”</p>
                <p class="lead mb-4">Now you can find out triggers before being  <span style="color: #D62828">Triggered</span></p>   
            </div>
            <div class="image-fluid d-none d-sm-block">
                <img src="../../assets/watchMovies.svg" alt="watching scary movie">
            </div>
        </div>
        
    </div>
</section>
