.merriweather {
    font-family: "Merriweather", serif;
}

.text-custom {
    color: #3a2e39;
 }

 .bg-custom {
    background-color: #FFFBF2;
 }

 .size {
    width: 70vw;
 }

 section::before {
   display: block;
   content: '';
   height: 60px;
 }
 