<section class="p-5 grad merriweather">
  <div class="container bg-custom text-custom py-5">
    <div class="row text-center">
      <div>
        <h1 class="pt-3">Trigger Categories</h1>
        <h4>
          We think these elements are upsetting to see in movies, and you might,
          too.
        </h4>
        <br />
        <br />
      </div>
      <div class="container px-5 mb-5">
        <div
          class="accordion merriweather text-custom bg-custom"
          id="accordionExample"
        >
          <div
            class="accordion-item"
            *ngFor="let trigger of triggers; let i = index"
          >
            <h2 class="accordion-header" [attr.id]="'heading' + i">
              <button
                class="accordion-button collapsed"
                type="button"
                (click)="openAccordion[i] = !openAccordion[i]"
                data-bs-toggle="collapse"
                [attr.data-target]="'#collapse' + i"
                aria-expanded="true"
                [attr.aria-controls]="'collapse' + i"
              >
                {{ trigger.id + ".  " + trigger.title }}
              </button>
            </h2>
            <div
              [attr.id]="'collapse' + i"
              class="accordion-collapse collapse"
              [class.show]="openAccordion[i]"
              [attr.aria-labelledby]="'heading' + i"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <strong>{{ trigger.categoryDescription }}</strong>
                <div>
                  <em *ngIf="trigger.subcategories"
                    >Triggers in this category include:
                  </em>
                </div>
                <div *ngFor="let subcategory of trigger.subcategories">
                  {{ subcategory }}
                </div>
                <br />
                <em *ngIf="trigger.resourcePhone">Resource Phone Numbers: </em>
                <div *ngFor="let phone of trigger.resourcePhone">
                  {{ phone }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>&nbsp;</p>
</section>
