.merriweather {
    font-family: "Merriweather", serif;
}

.text-custom {
    color: #3a2e39;
 }

 .bg-custom {
    /* background: #fff6e5; */
    background-color: #FFFBF2;
 }

 section::before {
    display: block;
    content: '';
    height: 80px;
  }