<section class="grad merriweather text-custom">
  <div class="container bg-custom2 p-5">
    <div class="container border border-5 border-warning rounded-4">

      <!-- Movie Title & Release Date -->

      <div class="row">
        <div class="col-12 pt-5 text-custom text-center">
          <h1>{{ movieResults[0].title }}</h1>
        </div>
        <div class="col-12">
          <p class="container h4 text-center merriweather">
            {{ movieResults[0].release_date }}
          </p>
        </div>

        <!-- Movie Poster- -->

        <div class="bg-custom d-none d-sm-block">
          <div class="container">
            <div class="row d-flex justify-content-center bg-custom p-5">
              <img
                class="image-fluid d-none d-sm-block w-50"
                src="https://image.tmdb.org/t/p/w500{{
                  movieResults[0].poster_path
                }}"
                alt="movie poster"
              />
            </div>
          </div>
        </div>

        <!-- Description -->

        <div class="row d-flex">
          <div class="col-12 bg-custom2 px-5">
            <p class="h2 text-center text-custom pb-2">Movie Description</p>
            <p class="lead text-start text-custom pb-5 px-5">
              {{ movieResults[0].overview }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Trigger Warnings -->

    <div class="container p-5 mx-5">
      <div *ngFor="let trigger of triggerWarnings">
        <div class="row pt-4">
          <div class="card col-4">
            <strong
              ><div class="card-header text-center bg-custom4 text-white">
                Trigger Warning: {{ trigger.headline }}
              </div></strong
            >
            <div>
              <p>
                <strong
                  ><span class="lead text-custom2">Description: </span></strong
                >
                {{ trigger.warning }}
              </p>
              <p>
                <strong
                  ><span class="lead text-custom2"
                    >Trigger Category:
                  </span></strong
                >
                {{ trigger.category }}
              </p>
              <p>
                <strong
                  ><span class="lead text-custom2">Subcategory: </span></strong
                >
                {{ trigger.subcategory }}
              </p>
            </div>
          </div>
        </div>

        <p></p>
      </div>

      <div>
        <p></p>
        <p></p>
      </div>
    </div>

    <h2 style="color: #d62828">Leave a Trigger Warning</h2>
    <app-add-trigger-form></app-add-trigger-form>

    <!-- <comments></comments> -->

    <!-- Button -->

    <div class="d-flex justify-content-end">
      <button class="btn btn-info text-white" [routerLink]="['']">
        Back Home
      </button>
    </div>
  </div>
</section>
