<!-- <div class="container text-center login merriweather">
    <div class="row">
      <div class="col-3">
<main class="form-signin w-100 m-auto">
    <form>
      <img class="triggered icon" src="../assets/fox-triggered.gif" alt="triggered fox" width="90" height="90">
      <h1 class="h3 mb-3 fw-normal">Log in to your account</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-md btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    </form>
  </main>
  
</div>
</div>
</div> -->

<div class="form-bg">
    <div class="container">
        <div class="row flex justify-content-center">
            <div class="col-md-6">
                <div class="form-container">
                    <h3 class="title merriweather">Sign Into your account</h3>
                    <div class="form-horizontal">
                        <div class="form-icon"> <img class="triggered icon" src="../assets/fox-triggered.gif" alt="triggered fox" width="90" height="90"></div>
                        <div class="form-group merriweather"> <span class="input-icon"><i class="fa fa-user"></i></span> <input type="email" class="form-control" placeholder="Username"> </div>
                        <div class="form-group merriweather"> <span class="input-icon"><i class="fa fa-lock"></i></span> <input type="password" class="form-control" placeholder="Password"> <span class="forgot"><a href="">Forgot your password?</a></span> </div> <button class="btn signin merriweather">Sign In</button>
                        <div class="form-group merriweather"> <span class="input-icon"><i class="fa fa-lock"></i></span> <span class="new user merriweather"><a href="">Create an account</a></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>