<!-- <nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-start">
      <button class="btn btn-outline-success me-2" type="button">Main button</button>
      <button class="btn btn-sm btn-outline-secondary" type="button">Smaller button</button>
    </form>
  </nav> -->

<div class="nav-item dropdown btn-group container" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Sign In
    </button>
        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" [routerLink]="['sign-in-page']">Sign In</a></li>
            <li><a class="dropdown-item" [routerLink]="['create-an-account']">Create An Account</a></li>
        </ul>            
</div>
