<section class="bg-custom d-none d-sm-block">
  <div class="container">
    <div class="row d-flex justify-content-center bg-custom p-5">
      <img
        class="image-fluid d-block"
        src="../../assets/openAirTheater.jpg"
        alt="open air movie theater"
      />
      <div class="row position-relative">
        <p bg-custom>
          <a
            class="position-absolute bottom-0 end-0 text-white d-none d-sm-block"
            href="https://www.freepik.com/free-vector/open-air-cinema-empty-place_26796693.htm#query=watching%20movies&position=25&from_view=search&track=sph"
            >Image by upklyak</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
