<section bg-custom pb-5>
    <div class="row d-flex justify-content-center bg-custom p-5">
        <img class="image-fluid d-none d-sm-block size" src="../../assets/openAirTheater.jpg" alt="open air movie theater">
    <div class="row position-relative">
        <p bg-custom>
            <a class="position-absolute bottom-0 end-0 text-white" href="https://www.freepik.com/free-vector/open-air-cinema-empty-place_26796693.htm#query=watching%20movies&position=25&from_view=search&track=sph">Image by upklyak</a>
        </p>
    </div>
    </div>
</section>
