.to-top {
    bottom: 0;
    cursor: pointer;
    margin: 0 8px 12px 0;
    position: fixed;
    right: 0;
    opacity: 0;
  }
  
  .show-scrollTop {
    opacity: 1 !important;
    transition: all 0.2s ease-in-out;
  }

  .custom-color {
    color: #006d77;
  }