<html>
<body class="grad h-100">
    <h2 style="color: #3A2E39">Welcome to 
        <span style="color: #D62828">Triggered</span>
        <span style="color: #3A2E39">, where we all work together to create a safer way to watch movies</span>

        </h2>
<div class="container-fluid flex justify-content-center w-100">
    <div class="row justify-content-between">
        <div class="col-6">
            <h3 style="color: #FCBF49; font-size:16px">Recent Movies</h3>
            <app-carousel [collection]="'recent'"></app-carousel>
        </div>
        <div class="col-6">
            <h3 style="color: #FCBF49; font-size:16px">Trending Movies</h3>
            <app-carousel [collection]="'trending'"></app-carousel>
        </div>
    </div>
</div>
</body>
</html>


