<app-showcase></app-showcase>

<section class="grad h-100 p-5">
    <div class="container-fluid flex justify-content-center w-100">
        <div class="row justify-content-between">
            <div class="col-6">
                <h3 style="color: #FCBF49; font-size:16px">Recent Movies</h3>
                <app-carousel [collection]="'recent'"></app-carousel>
            </div>
            <div class="col-6">
                <h3 style="color: #FCBF49; font-size:16px">Trending Movies</h3>
                <app-carousel [collection]="'trending'"></app-carousel>
            </div>
        </div>
    </div>
</section>




