<section class="grad py-5">
  <div class="container bg-light p-5 text-start merriweather align-items-center justify-content-between">
    <div class="row">
      <div class="col-12 px-5">
        <h1 class="deep-purple">Frequently Asked Questions <span><i class="h1 bi bi-emoji-sunglasses mustard-yellow"></i></span></h1>
        <p>&nbsp;</p>
        <p>
          Welcome to the FAQs page. Where all, if not some of your most pondered
          questions about our site can be found. If you don't see your question,
          please contact our team at triggeredapp@gmail.com.
        </p>
        <p>&nbsp;</p>
        <h2 class="deep-purple">About <span class="red">Triggered</span></h2>
        <p>&nbsp;</p>
        <h3 class="deep-purple">What is <span class="red">Triggered</span>?</h3>
        <p>
          Praesent ut purus magna. In lacinia nibh ac nisl malesuada, mattis
          hendrerit ex interdum. Vestibulum nulla eros, pretium vel accumsan quis,
          mattis eget quam. Fusce venenatis lacus varius, tristique mi ut,
          interdum leo. Donec sed tortor at libero cursus posuere. Etiam faucibus
          orci vel tellus blandit venenatis. Donec eu justo viverra, luctus ligula
          nec, suscipit urna. In vel finibus magna.
        </p>
        <p>&nbsp;</p>
        <h3 class="deep-purple">How does it work?</h3>
        <p>
          Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit
          amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus.
          Praeterea iter est quasdam res quas ex communi. At nos hinc posthac,
          sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in
          diem certam indicere. Cras mattis iudicium purus sit amet fermentum.
        </p>
        <p>&nbsp;</p>
        <h3 class="deep-purple">Why do I need to create an account?</h3>
        <p>
          Our site allows you to read reviews and learn about trigger warnings for
          the latest and most popular movies. Though this comes in handy
          for a one-off search, you may find that you want to create
        </p>
        <p>&nbsp;</p>
        <h3 class="deep-purple">
          What genre of movies do you feature?
        </h3>
        <p>
          Nunc sed sollicitudin nisi. Nam porta aliquet nisl a auctor. Fusce urna
          justo, facilisis vitae ipsum in, placerat hendrerit erat. Nullam eu erat
          dapibus lectus convallis lacinia. Including:
        </p>
        <ul stlye="margin-left: 40px;">
          <li>Horror</li>
          <li>Fantasy</li>
          <li>Sci-Fi</li>
          <li>Indie</li>
          <li>International</li>
          <li>Romance</li>
          <li>Drama</li>
          <li>Comedy</li>
          <li>Action</li>
          <li>Thriller</li>
          <li>Musical</li>
          <li>Historical</li>
          <li>Biopic</li>
          <li>Animation</li>
        </ul>
        <h2 class="deep-purple">General App Questions</h2>
        <p>&nbsp;</p>
        <h3 class="deep-purple">How do I create a review?</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Molestie nunc non
          blandit massa enim nec dui nunc mattis. Amet volutpat consequat mauris
          nunc congue nisi vitae suscipit. Eu lobortis elementum nibh tellus
          molestie.
        </p>
        <p>&nbsp;</p>
        <h3 class="deep-purple">
          What if I don't see a trigger category and want to suggest one?
        </h3>
        <p>
          Praesent ut purus magna. In lacinia nibh ac nisl malesuada, mattis
          hendrerit ex interdum. Vestibulum nulla eros, pretium vel accumsan quis,
          mattis eget quam. Fusce venenatis lacus varius, tristique mi ut,
          interdum leo. Donec sed tortor at libero cursus posuere. Etiam faucibus
          orci vel tellus blandit venenatis. Donec eu justo viverra, luctus ligula
          nec, suscipit urna. In vel finibus magna.
        </p>
        <p>&nbsp;</p>
        <h3 class="deep-purple">
          How do I add/remove items to/from my favorites list?
        </h3>
        <p>
          Vestibulum vestibulum purus vel ex placerat, non lacinia nulla cursus.
          Mauris ultricies dolor vitae nisl ullamcorper, vitae interdum diam
          malesuada. Morbi maximus orci non scelerisque laoreet. Suspendisse
          volutpat eros tellus, a vehicula diam tristique eget.
        </p>
        <p>&nbsp;</p>
        <h3 class="deep-purple">How do ratings work?</h3>
        <p>
          Aliquam feugiat augue in mi ultrices finibus. Cras a odio sit amet nunc
          ultrices dignissim eget quis nulla. Praesent in urna in erat suscipit
          posuere vel a ipsum. Ut vel arcu orci.
        </p>
        <p>&nbsp;</p>
        <h3 class="deep-purple">Why do some movies/shows have so few reviews?</h3>
        <p>
          Urna nunc id cursus metus aliquam eleifend. Et pharetra pharetra massa
          massa ultricies mi. In hac habitasse platea dictumst vestibulum rhoncus
          est pellentesque. Gravida rutrum quisque non tellus orci. Posuere
          sollicitudin aliquam ultrices sagittis. Semper feugiat nibh sed pulvinar
          proin gravida hendrerit lectus.
        </p>
        <h3 class="deep-purple">Who can create reviews?</h3>
        <p>
          Purus sit amet volutpat consequat mauris nunc congue nisi vitae. Tortor
          posuere ac ut consequat semper viverra nam libero justo.
        </p>
        <p>&nbsp;</p>
        <h2 class="deep-purple">Customer Service</h2>
        <p>&nbsp;</p>
        <h3 class="deep-purple">When will you post my review?</h3>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>&nbsp;</p>
        <h3 class="deep-purple">How do I report a bug?</h3>
        <p>
          As we continuously work to make Triggedeep-purple a better app, pesky bugs might
          pop up and disrupt your experience. If you spot a bug, be sure to smash
          it by emailing us at triggeredsupport@gmail.com.
        </p>
        <p>&nbsp;</p>
        <h3 class="deep-purple">How do I report a rude user?</h3>
        <p>
          At <span class="red">Triggered</span>, we cherish our community and want to make sure it remains
          a safe space for all. If you encounter someone who isn't being a kind
          human being, report them to triggeredsupport@gmail.com, along with any
          examples you've seen.
        </p>
        <p>&nbsp;</p>
        <h3 class="deep-purple">
          I have a feature suggestion. How do I share it?
        </h3>
        <p>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
          ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-custom" [routerLink]="['']">
        Back Home
      </button>
    </div>
  </div>
</section>