<section id="questions" class="grad py-5">
  <div class="container merriweather text-custom bg-custom pt-5 px-5">
    <div>
      <h1 class="text-center pb-3 pt-4 deep-purple">
        Frequently Asked Questions
        <span><i class="h1 bi bi-emoji-sunglasses mustard-yellow"></i></span>
      </h1>
      <h5 class="m-3 px-5">
        Welcome to the FAQs page. Where some, if not all of your most pondered
        questions about our site can be found. If you don't see your question,
        please contact our team at triggeredapp@gmail.com.
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </h5>
    </div>
    <h2 class="pb-4">About <span class="red">Triggered</span></h2>

    <div
      class="accordion accordion-flush bg-custom lead"
      id="accordionFlushExample"
    >
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            <h5 class="deep-purple">
              What is <span class="red">Triggered</span>?
            </h5>
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <p>
              <span class="red">Triggered</span> is a movie trigger warning
              review app. We like to call it a safe space for movie lovers.
              People love movies because they offer an escape from the real
              world, but sometimes aspects of the movies we enjoy trigger us.
              This can change a person’s movie watching experience (trust us, we
              know firsthand). To help make sure spend more time enjoying a
              movie than being triggered by it, our app displays community
              reported triggers to warn others of possibly upsetting or
              triggering content.
            </p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            <h5 class="deep-purple">How does it work?</h5>
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <p>
              With <span class="red">Triggered</span>, you can search our movie
              database to view trigger warnings left by other movie watchers, so
              you can prepare yourself before seeing the movie. And when you
              create an account on our site, it makes you an authorized user and
              allows you to create trigger warning reviews for others.
            </p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            <h5 class="deep-purple">Why do I need to create an account?</h5>
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <p>
              Our site allows you to read reviews and learn about trigger
              warnings for classic, latest, and most popular movies. Though this
              comes in handy for a one-off search, you may discover a trigger
              that wasn’t previously reported. To create a trigger warning for
              others and save any movies for future reference, you must become
              an authorized user by creating an account.
            </p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour"
            aria-expanded="false"
            aria-controls="flush-collapseFour"
          >
            <h5 class="deep-purple">What genre of movies do you feature?</h5>
          </button>
        </h2>
        <div
          id="flush-collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingFour"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <p>
              We’re bonafide movie lovers, and know there’s a genre for
              everyone. So, we do our best to feature our community’s favorite
              genres. This includes, but is not limited to:
            </p>
            <ul style="margin-left: 40px">
              <li>Horror</li>
              <li>Fantasy</li>
              <li>Sci-Fi</li>
              <li>Indie</li>
              <li>International</li>
              <li>Romance</li>
              <li>Drama</li>
              <li>Comedy</li>
              <li>Action</li>
              <li>Thriller</li>
              <li>Musical</li>
              <li>Historical</li>
              <li>Biopic</li>
              <li>Animation</li>
            </ul>
          </div>
        </div>
      </div>

      <h2 class="pt-5 mt-4 pb-4">General App Questions</h2>

      <div
        class="accordion accordion-flush bg-custom lead"
        id="accordionFlushExample"
      >
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive"
              aria-expanded="false"
              aria-controls="flush-collapseFive"
            >
              <h5 class="deep-purple">How do I create a review?</h5>
            </button>
          </h2>
          <div
            id="flush-collapseFive"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingFive"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                To create a trigger warning review, first search for the desired
                movie in the search bar. Next, fill out the add trigger form
                underneath the movie’s description. Select two trigger warnings
                and leave a summary of the trigger. Your summary can include a
                time stamp or explanation of the scene to further inform other
                users. Once complete, click “add trigger tag,” to submit your
                review. Note: It may take up to 5 days for your review to
                display on the page.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSix">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSix"
              aria-expanded="false"
              aria-controls="flush-collapseSix"
            >
              <h5 class="deep-purple">
                What if I don't see a trigger category and want to suggest one?
              </h5>
            </button>
          </h2>
          <div
            id="flush-collapseSix"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingSix"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                Although we currently have 20 trigger categories to choose from,
                you may discover a new category, or have a suggestion for a
                subcategory to add. Thank you so much for your dedication to
                making
                <span class="red">Triggered</span>
                a safe space for movie watchers! Please email us at
                triggeredsupport@gmail.com with the subject line: “Trigger
                category suggestion”
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSeven">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSeven"
              aria-expanded="false"
              aria-controls="flush-collapseSeven"
            >
              <h5 class="deep-purple">
                How do I add/remove items to/from my favorites list?
              </h5>
            </button>
          </h2>
          <div
            id="flush-collapseSeven"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingSeven"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                Unfortunately, our app currently does not support
                adding/removing items to and from the “my favorites” list. This
                feature is in the works, and we hope to have it running shortly!
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingEight">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseEight"
              aria-expanded="false"
              aria-controls="flush-collapseEight"
            >
              <h5 class="deep-purple">How do ratings work?</h5>
            </button>
          </h2>
          <div
            id="flush-collapseEight"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingEight"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                Rating movie reviews is a feature our app currently does not
                support. We apologize for its absence, but this feature is in
                the works, and we hope to have it running in the near future!
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingNine">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseNine"
              aria-expanded="false"
              aria-controls="flush-collapseNine"
            >
              <h5 class="deep-purple">
                Why do some movies/shows have so few reviews?
              </h5>
            </button>
          </h2>
          <div
            id="flush-collapseNine"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingNine"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                There are several reasons why a movie doesn’t have many reviews:
                our community didn’t find the movie triggering, not people have
                viewed the movie, or simply, users haven’t created an account to
                leave a review. If the latter is the case, don’t let another
                person potentially get triggered! See a need, fill a need, and
                leave the review for others. You never know you can help.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTen">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTen"
              aria-expanded="false"
              aria-controls="flush-collapseTen"
            >
              <h5 class="deep-purple">Who can create reviews?</h5>
            </button>
          </h2>
          <div
            id="flush-collapseTen"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTen"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                At this time, only authorized users aka those who have created
                an account on the
                <span class="red">Triggered</span> app can create a trigger
                warning review. If you aren’t interested in creating an account,
                never fear! You can still search our database of movies for
                trigger reviews created by others in the community.
              </p>
            </div>
          </div>
        </div>
      </div>

      <h2 class="pt-5 mt-4 pb-4">Customer Service</h2>

      <div
        class="accordion accordion-flush bg-custom lead"
        id="accordionFlushExample"
      >
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingEleven">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseEleven"
              aria-expanded="false"
              aria-controls="flush-collapseEleven"
            >
              <h5 class="deep-purple">When will you post my review?</h5>
            </button>
          </h2>
          <div
            id="flush-collapseEleven"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingEleven"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                To make sure that our movie watcher community stays safe, we
                have to vet each trigger warning review for accuracy. Because we
                are a team of four, it may be up to three days before you see
                your trigger warning review. If it has been longer than three
                days, please email us a triggeredsupport@gmail.com and we’d be
                happy to investigate!
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="flush-headingTwelve">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwelve"
              aria-expanded="false"
              aria-controls="flush-collapseTwelve"
            >
              <h5 class="deep-purple">How do I report a bug?</h5>
            </button>
          </h3>
          <div
            id="flush-collapseTwelve"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwelve"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                As we continuously work to make
                <span class="red">Triggered</span> a better app, pesky bugs
                might pop up and disrupt your experience. If you spot a bug, be
                sure to smash it by emailing us at triggeredsupport@gmail.com.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThirteen">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThirteen"
              aria-expanded="false"
              aria-controls="flush-collapseThirteen"
            >
              <h5 class="deep-purple">How do I report a rude user?</h5>
            </button>
          </h2>
          <div
            id="flush-collapseThirteen"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                At <span class="red">Triggered</span>, we cherish our community
                and want to make sure it remains a safe space for all. If you
                encounter someone who isn't being a kind human being, report
                them to triggeredsupport@gmail.com, along with any examples
                you've seen.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFourteen">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFourteen"
              aria-expanded="false"
              aria-controls="flush-collapseFourteen"
            >
              <h5 class="deep-purple">
                I have a feature suggestion. How do I share it?
              </h5>
            </button>
          </h2>
          <div
            id="flush-collapseFourteen"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingFourteen"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                We love the thought of our community helping
                <span class="red">Triggered</span>
                grow! If you have an awesome idea for how to make our site
                better, please email us at triggeredsupport@gmail.com with the
                subject line: “Trigger feature idea.” We can’t wait to see what
                you come up with!
              </p>
              <p>&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end py-5">
        <button type="button" class="btn btn-custom" [routerLink]="['']">
          Back Home
        </button>
      </div>
    </div>
  </div>
</section>
