<h1>Frequently Asked Questions</h1>
<p>&nbsp;</p>
<p>Welcome to the FAQs page. Where all, if not some of your most pondered<br> 
    questions about our site can be found. If you don't see your question,<br>
please contact our team at triggersspoiled@gmail.com.</p>
<br>
<br>
<div>
<h2>About Triggers Spoiled</h2>
<h3>What is Triggers Spoiled?</h3>
<p>&nbsp;</p>
<h3>How does it work?</h3>
<p>Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
<p>&nbsp;</p>
<h3>Why do I need to create an account?</h3>
<p>Our site allows you to read reviews and learn about trigger warnings for the latest and most popular movies and anime.<br> 
Though this comes in handy for a one-off search, you may find that you want to create   </p>
</div>