.container-sm {
    max-width: 540px,
}

.merriweather {
    font-family: "Merriweather", serif;

}

.deep-purple {
    color: #3A2E39;
}

.mustard-yellow {
    color: #FCBF49;
}

.deep-blue-green {
    color: #006d77;
}

.red {
    color: #d62828;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
}

.btn-custom {
    background-color: #83c5be;
}